<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sharedkitchen">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_foreground"
        android:label="서일대학교 공유 주방"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SharedKitchen">
        <activity android:name=".FirstMenuinfoActivity"></activity>
        <activity android:name=".SixthMenuinfoActivity" />
        <activity android:name=".FifthMenuinfoActivity" />
        <activity android:name=".FourthMenuinfoActivity" />
        <activity android:name=".ThirdMenuinfoActivity" />
        <activity android:name=".SecondMenuinfoActivity" />
        <activity android:name=".SixthCoinfoActivity" />
        <activity android:name=".FifthCoinfoActivity" />
        <activity android:name=".FourthCoinfoActivity" />
        <activity android:name=".ThirdCoinfoActivity" />
        <activity android:name=".SecondCoinfoActivity" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FisrtCoinfoActivity" />
        <activity android:name=".ProposeActivity" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>